html {
  scroll-behavior: smooth;
}

.mobile-nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
}

.nav {
  display: none;
}

.main > * {
  margin: 6em 3em 6em 3em;
}

.about {
  padding-top: 4em;
  padding-left: 1em;
  padding-right: 1em;
}

.contact {
  display: flex;
  flex-wrap: wrap;
}

.address {
  white-space: nowrap;
}

#hero {
  max-width: 3em;
  border-radius: 50%;
  border-style: solid;
}

.icon-container {
  display: flex;
  gap: 1em;
  font-size: 1em;
}

.icon {
  background-color: rgb(72, 70, 105);
  border-radius: 50%;
  height: 4em;
  width: 4em;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.25s;
  margin-top: 1em;
  margin-left: 1em;
}

.icon:hover {
  opacity: 75%;
}

.icon > * {
  font-size: 2.5em;
}

img {
  width: 100%;
}

.hide {
  height: 0px;
}

.show {
  top: 3.6em;
  position: fixed;
  width: 100%;
  height: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: height 0.3s ease-in-out;
  z-index: 120;
}

.show a:first-child{
  margin-top: 10px;
}

.menu-items {
  display: none;
}

p {
  max-width: 90%;
  padding-left: 1em;
}

a {
  color: black;
}

a:hover {
  opacity: 0.5;
}

#projects, #education, #skills {
  padding: 1em;
}

#projects > * {
  margin: 3em auto 3em auto;
}

#smart-rockets-img {
  max-height: 60vh;
  object-fit: contain;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  
  .icon {
    transition: none;
  }
}

@media only screen and (min-width: 50em) {
  .App {
    display: grid;
    grid-template-columns: 1fr  4fr;
  }

  .mobile-nav {
    display: none;
  }

  .nav {
    position: fixed;
    height: 100vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .show {
    height: 0px;
  }

  .hide {
    display: none;
  }

  img {
    max-width: 70%;
  }

  .menu-items {
    margin-top: 1em;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  #hero {
    max-width: 10em;
  }
}